body {
    margin: 0;
    padding: 0;
}
#game-screen{
    display: block;
}
#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
}
h1,h2,h3,h4,h5{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 37px;
}
p a{
    font-family: 'Press Start 2P', cursive;
}
#loveTo{
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 33%;
    margin-right: 40%;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
h4,h5{
    margin-top: 20px;
}
.title{
    font-size: 70px;
    margin-bottom: 0px;
}
#restartButton{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
#restartButton:hover {
    background-color: #26ec2e;
}
#scoreboard{
    margin-top: 8px;
    margin-left: 10px;
}